* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-color: #000;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;

}

a,
a:hover,
a:focus {
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;

}

.title {
  text-align: center;


  padding-bottom: 50px;
}

.title h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: rgba(255, 255, 255, .8);
  position: relative;
  margin: 0 auto;
  width: 220px;
}

.title h2:after {
  position: absolute;
  bottom: -9px;
  right: 0;
  height: 1px;
  width: 60px;
  background: rgba(247, 0, 104);
  content: "";
}

.title h2:before {
  position: absolute;
  top: 40px;
  left: 0;
  height: 1px;
  width: 60px;
  background: rgba(247, 0, 104);
  content: "";
}

/*////////////////////////////////////
            PRELOADING  part
///////////////////////////////////// */

.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: #000 url(../images/724\(1\).gif) no-repeat center;


}

/*////////////////////////////////////
            PRELOADING  part
///////////////////////////////////// */
/* /////////////////////////////////////
         navbar part start
//////////////////////////////////////// */

nav {
  position: absolute !important;
  top: 25px;
  left: 0;
  width: 100%;
  z-index: 99;
  transition: linear .4s;
 

}

header nav .navbar-brand h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  letter-spacing: .5px;

  background: rgba(247, 0, 104);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav ul li {
  position: relative;
  display: block;
}

header nav ul li a {

  font-family: 'poppin', sans-serif;
  font-size: 17px;
  letter-spacing: .5px;
  margin-right: 10px;
  color: rgba(255, 255, 255, .8);
  position: relative;
  z-index: 9999;
  transition: .3s;
}

header nav ul li a:after {
  position: absolute;
  top: -8px;
  left: 0;
  height: 0px;
  width: 98%;
  background: rgba(247, 0, 104, .3);

  content: "";
  z-index: -1;
  clip-path: ellipse(6% 40% at 41% 55%);
  transition: .3s;

}

header nav ul li:hover a:after {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  height: 59px;

}

header nav ul li a:hover {
  color: #fff;

}

header nav ul li .active:after {
  position: absolute;
  top: -8px;
  left: 0;
  height: 59px;
  width: 98%;
  background: rgba(247, 0, 104, .3);

  content: "";
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  transition: .3s;

}


.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  border-bottom: 1px solid rgba(247, 0, 104, 0.5);
  transition: .6s ease-in-out;
  animation: mymove linear .8s;
  z-index: 99;
}

@keyframes mymove {
  from {
    top: -65px;
  }

  to {
    top: 0px;
  }
}


/* /////////////////////////////////////
         navbar part start
//////////////////////////////////////// */
/*///////////////////////////////////
            banner-part start
  ////////////////////////////////////*/


#banner-part .banner {
  background: url(../images/man-1253004_1920.jpg) no-repeat;
  background-position: 100% 0%;
  background-size: cover;
  height: 650px;
  position: relative;

}

#banner-part .banner .text .text1 {
  font-family: 'poppin', sans-serif;
  font-weight: 600;
  width: 508px;
  letter-spacing: .5px;
  font-size: 30px;
  line-height: 44px;
  margin-left: auto;
  padding-top: 220px;
}

#banner-part .banner .text .text1 .type {
  color: rgba(255, 255, 255, .8);
  text-align: center;
}

#banner-part .banner .text p {
  font-family: 'open', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255, 255, 255, .8);
  line-height: 28px;
  letter-spacing: .6px;
  margin-top: 15px;
  width: 508px;
  margin-left: auto;
}


#banner-part .bst-button {
  text-align: right;
  margin-right: 240px;
}

#banner-part .tuna .tuni {
  position: relative;
  transition: linear .3s;
}

#banner-part .tuna {
  margin-top: 50px;
  margin-left: 20px;
  font-family: 'poppin', sans-serif;
  font-weight: 600;
  letter-spacing: .3px;
  font-size: 12px;
  padding: 4px 20px;
  position: relative;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, .8);
  text-transform: uppercase;
  line-height: 30px;
  color: rgba(255, 255, 255, .8);

  background-color: transparent;
  border-radius: 7px;
  transition: linear .3s;
  overflow: hidden;

}



#banner-part .tuna::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(247, 0, 104);
  border-radius: 5px;
  box-sizing: border-box;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

}

#banner-part .tuna:hover {
  border: 1px solid rgba(247, 0, 104, .5);
  color: rgba(255, 255, 255, .8);
 
}

#banner-part .tuna:hover::before {
  transform: scale(1, 1);
  transform-origin: bottom left;
}

#banner-part .first-button {
  background: rgba(247, 0, 104, .8);
  border: 1px solid rgba(247, 0, 104, .5);
  transform: scale(1);

}

#banner-part .first-button:hover {
  background: transparent;
}

#banner-part .banner .down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  height: 180px;
  width: 60px;
  margin: 0 auto;
  z-index: -1;
}

#banner-part .banner .down i {
  color: rgba(241, 241, 241, .5);
  font-size: 90px;
  position: relative;
  animation: fadeIn .9s infinite linear;
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }

  100% {
    top: 80%;
    opacity: 1;
  }
}

/*///////////////////////////////////
            banner-part end
  ////////////////////////////////////*/
/*///////////////////////////////////
          about -part start
  ////////////////////////////////////*/
#about-part {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 50px;

}

#about-part .left .title h2 {
  width: 10%;
}

#about-part .left .title1 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #fff;
  position: relative;
  padding-bottom: 10px;
}

#about-part .left .title1 h2:after {
  position: absolute;
  top: 27px;
  left: 0;
  height: 1px;
  width: 8%;
  background: rgba(247, 0, 104);
  content: "";
}

#about-part .left .text p {
  font-family: 'open', sans-serif;
  font-size: 14px;
  color: rgba(255, 255, 255, .8);
  line-height: 25px;
  letter-spacing: .7px;
  margin-top: 15px;
}

#about-part .img {
  overflow: hidden;

}

#about-part .img img {
  width: 100%;
  height: 100%;
  transform: scale(1.4);
  transform-origin: bottom;

}


/*///////////////////////////////////
          about -part end
  ////////////////////////////////////*/
/*///////////////////////////////////
          my services-part start
  ////////////////////////////////////*/
#ourservice {
  padding-top: 30px;
  overflow: hidden;
  position: relative;
}

#ourservice .pattern {
  position: absolute;
  right: 0px;
  top: 0px;
  left: 0px;
  bottom: 0px;
  background: url(../images/pattern-3.png);
  background-repeat: no-repeat;
  background-position: right top;

}

#ourservice .over {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .4);
  padding-top: 50px;
  padding-bottom: 200px;
}

.t {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;

}

#ourservice .left {
  width: 90%;
  text-align: center;

  position: relative;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  color: #fff !important;

  transition: .3s ease-in-out;

}

#ourservice .left:hover {
  margin-top: 30px;

}

#ourservice .left .img {
  width: 70px;
  height: 70px;
  display: inline-block;
  border: 1px solid transparent;
  padding: 10px;
  position: relative;
  opacity: 1;
  transition: .4s;

}

#ourservice .left:hover .img {
  background: rgba(247, 0, 104, .2);
  border: 1px solid rgba(247, 0, 104, .7);
}

#ourservice .left .img img {
  height: 100%;
  width: 100%;
}

/* #ourservice .left .img:after{
  position: absolute;
  top: 19px;
  right: 5px;
  width: 1px;
  height: 110px;
  background: rgba(255, 166, 0,.5);
  content: '';
} */


#ourservice .left .text {
  padding-left: 11px;
  padding-top: 14px;
  text-align: center;
}

#ourservice .left .text h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: .5s;
  letter-spacing: .5px;
  color: rgba(255, 255, 255, .8);

}

#ourservice .left .text p {
  font-family: 'open', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, .8);
  margin-top: 10px;
  line-height: 22px;
  text-align: center;
  transition: .5s;
  margin-left: auto;
  margin-right: auto;


}


/* #ourservice .left .overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(255, 255, 0,.6),rgba(255, 0, 0,.6) );
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    text-align: center !important;
    transform-origin:right center;
    transition:transform 0.3s ease-in-out;
    transform: scale(0, 1);
}
#ourservice .left:hover .overlay {
    transform: scale(1, 1);
    transform-origin: left center;
} */

#ourservice .poran .imam {
  position: relative;


}

#ourservice .btc{
  width: 100%;
  display: flex;
  justify-content: center;
}

#ourservice .poran {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: .5px;
  padding: 4px 10px;
  position: relative;;
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%); */
  line-height: 30px;
  color: rgba(255, 255, 255, .8);
  border: 1px solid rgba(255, 255, 255, .5);
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  margin-top: 60px;
  display: inline-block;
  overflow: hidden;

}

#ourservice .poran::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(247, 0, 104);
  border-radius: 10px;
  box-sizing: border-box;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

}

#ourservice .poran:hover {
  color: #fff;
  border: 1px solid rgba(247, 0, 104, .5);
}

#ourservice .poran:hover::before {
  transform: scale(1, 1);
  transform-origin: bottom left;
}

/*///////////////////////////////////
        my services -part end
  ////////////////////////////////////*/
/*///////////////////////////////////
        my skills -part end
  ////////////////////////////////////*/
#my-skills {
  padding-top: 65px;

}

#my-skills .left .progressbar {
  margin-bottom: 35px;

}

#my-skills .left .proggress {
  height: 4px !important;
  background-color: rgba(247, 0, 104) !important;
  box-shadow: 0 0 10px rgba(247, 0, 104);
}

#my-skills .left .percentCount {
  color: rgba(255, 255, 255, .9);
  margin-top: -32px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

#my-skills .left .line-jq {
  width: 90%;
  margin-top: 60px;
}

#my-skills .left .line-jq h2 {
  color: rgba(255, 255, 255, .9);
  font-size: 18px !important;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
}

#my-skills .right .img {
  width: 100%;
  height: 406px;
  text-align: center;
}

#my-skills .right .img img {
  width: 72%;
  height: 100%;
}

/*///////////////////////////////////
        my skills -part end
  ////////////////////////////////////*/

/*///////////////////////////////////
          team -part start
  ////////////////////////////////////*/
/* #project-part{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  #project-part .max{
    margin-bottom: 0px;
  }
  #project-part .swiper-wrapper .swiper-slide{
    width: 350px;
    height: 470px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
 }
 #project-part .swiper-wrapper .swiper-slide .img{
  width: 100%;
  height:300px;
  position: relative;
 }
 #project-part .swiper-wrapper .swiper-slide .overlay{
   width: 100%;
   height:0px;
   background: linear-gradient(180deg,rgba(255, 255, 0,.3),rgba(255, 0, 0,.3) ); 
   position: absolute;
   top: 0;
   left: 0;
   clip-path: ellipse(6% 43% at 50% 57%);
   transition: linear .5s;
 }
 #project-part .swiper-wrapper .swiper-slide:hover .overlay{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  height: 300px;
 
}
#project-part .swiper-wrapper .swiper-slide .overlay .icon {
 
  position: absolute;
  top: 160px;
  left: 65px;
}

#project-part .swiper-wrapper .swiper-slide .overlay .icon a {
  display: inline-block;

  
}

#project-part .swiper-wrapper .swiper-slide .overlay .icon a i {
  width: 50px;
  height: 50px;
  background: #fff;
  color: #353535;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  margin-left: 7px;
  transition: .5s;
  cursor: pointer;
  text-decoration: none;
  transition: .4s;

}
#project-part .swiper-wrapper .swiper-slide .overlay .icon a i:hover{
  background:rgb(0, 0, 0,.8) ;
  color: #fff;
}
 #project-part .swiper-wrapper .swiper-slide img{
   width: 100%;
   height:300px;
 }
 #project-part .swiper-wrapper{
   padding-bottom: 25px;
 }
 #project-part .swiper-wrapper .swiper-slide p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
 color: #353535;
 margin-top: 30px;
 letter-spacing: 1px;
 }
 #project-part .swiper-wrapper .swiper-slide h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
 color: #353535;
 margin-top: 3px;
 letter-spacing: 1px;
 }

 #project-part .swiper-wrapper .swiper-slide .btn-grad {
  margin-top: 27px;
  padding: 15px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
    font-size: 16px;
   color: #fff;
   line-height: 25px;
   letter-spacing: 1px;
  
 }
 #project-part .swiper-wrapper .swiper-slide .btn-grad:hover {
  background-position: right center;
 } */

/*///////////////////////////////////
          team -part end
  ////////////////////////////////////*/

/* =================================
          protfolio css start
===================================   */
#my-protfolio {
  padding-top: 80px;
}

.portfolio-filter {
  width: 100%;

  position: relative;
  margin: 30px auto;
  z-index: 99;
}

.portfolio-filter ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 14px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .5);
  text-transform: uppercase;
  cursor: pointer;
  color: rgba(255, 255, 255, .9);
  border-radius: 20px;
  letter-spacing: .5px;
  transition: .3s;
  margin-left: 15px;
  margin-bottom: 15px;
}

.portfolio-filter ul li.active {
  color: rgba(247, 0, 104);
  /* background: linear-gradient(180deg,rgba(255, 255, 0),rgba(255, 0, 0) );  */
  /* background: linear-gradient(180deg,#fbfbfb 10%,#337bb6 ,#fbfbfb ); */
  border: 1px solid rgba(247, 0, 104);
  border-radius: 5px;
}

.portfolio-filter ul li:hover {
  color: rgba(247, 0, 104);
  border: 1px solid rgba(247, 0, 104);
}

.element-item {

  border-radius: 10px;
  height: 200px;
  margin-bottom: 22px;
}

.guru .img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 10px;
  position: relative;
  transition: linear .4s;

}

.guru .img:hover {
  border: 1px solid rgba(247, 0, 104, .7);
  overflow: hidden;
}

.guru .img:hover .overlay {
  opacity: 1;
}

.guru .img:hover .overlay h2 {
  margin-top: 64px;
  opacity: 1;
}

.guru .img:hover .overlay p {
  margin-top: 10px;
  opacity: 1;
}

.guru .img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;

  transition: linear .4s;
}

/* .guru .img:hover img{
  filter: blur(2px);
} */
.guru .img .overlay {
  width: 100.5%;
  height: 96%;
  background: rgba(247, 0, 104, .9);
  position: absolute;
  top: 4px;
  left: -1px;
  border-radius: 10px;
  transform: scale(.94);
  z-index: 1;
  opacity: 0;
  transition: .4s ease-in-out;
}

.guru .img .overlay h2 {
  transition: linear .4s;
  opacity: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
  margin-top: 0px;
  margin-left: 30px;
  letter-spacing: 1px;

}

.guru .img .overlay p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-top: 100px;
  margin-left: 30px;
  letter-spacing: 1px;
  opacity: 0;
  transition: linear .4s;
}

.guru .img .overlay i {
  position: absolute;
  font-size: 21px;
  bottom: 20px;
  right: 25px;
  color: #fff;
  animation: zoom linear 1s infinite;

}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.4);
  }

  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

/* =================================
          protfolio css end
===================================   */
/*///////////////////////////////////
          testimonial-part start
  ////////////////////////////////////*/


.testimonial_section {

  padding-top: 80px;
  padding-bottom: 30px;
  position: relative;
  color: #fff;
}

.testimonial_section .pattern {
  position: absolute;
  right: 0px;
  top: 100px;
  left: 0px;
  bottom: 0px;
  background: url(../images/pattern-3.png);
  background-repeat: no-repeat;
  background-position: right top;
  transform: rotateY(180deg);

}

.testimonial_section .over {
  width: 100%;
  height: 580px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.testimonial_section .test_content {
  text-align: center;
}

.testimonial_section .test_img {
  width: 160px;
  height: 160px;
  display: block;
  margin: auto;
  margin-bottom: 12px;
  transform: scale(.9);
  padding: 18px;
  border: 1px solid rgba(247, 0, 104, .7);
  transition: .3s;
}

.testimonial_section .slider_item:hover .test_img {
  background: rgba(247, 0, 104, .2);
}

.testimonial_section .test_img img {
  width: 100%;
  height: 100%;
  /* border-radius: 100%; */

}

.testimonial_section h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  color: #fff;

  letter-spacing: 1px;
  background: linear-gradient(180deg, rgba(247, 0, 104)60%, rgb(0, 247, 235));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial_section .slider_item {
  margin-top: 30px;
}
.testimonial_section .test{
  position: relative;
}
.testimonial_section .test .quote{
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  color:rgba(247, 0, 104) ;
  background: rgba(255, 255, 255, .96);
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  z-index: 1;


}
.testimonial_section .test .star-icon{
  /* display: none; */
}

.testimonial_section .test .star-icon i{
   font-size: 16px;
   color:rgba(247, 0, 104) ;
   letter-spacing: 1px;
   display: inline-block;
   margin-top: 56px;
}
.testimonial_section P {
  font-family: 'open', sans-serif;
font-size: 14px;
color: rgba(255, 255, 255, .8);
line-height: 25px;
letter-spacing: .7px;
  width: 600px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.testimonial_section P:after{
  position: absolute;
  top: -58px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  height: 2px;
  background: rgba(247, 0, 104);
  content: "";
}

.testimonial_section .demo {
  position: relative;
}

.testimonial_section .demo .prev {
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 44px;
  transform: translate(-50%, -50%);
  font-size: 25px;
  padding: 9px;
  border: 1px solid rgba(247, 0, 104);
  color: rgba(247, 0, 104);
  transition: .3s;

}

.testimonial_section .demo .prev:hover {
  background: rgba(247, 0, 104, .2);
  color: rgba(247, 0, 104);
}

.testimonial_section .demo .next {
  z-index: 9999;
  position: absolute;
  top: 50%;
  right: 1px;
  transform: translate(-50%, -50%);
  font-size: 25px;
  padding: 9px;
  border: 1px solid rgba(247, 0, 104);
  color: rgba(247, 0, 104);
  transition: .3s;

}

.testimonial_section .demo .next:hover {
  background: rgba(247, 0, 104, .2);
  color: rgba(247, 0, 104);
}

/*///////////////////////////////////
          testimonial-part end
  ////////////////////////////////////*/
/*///////////////////////////////////
        counter-part end
  ////////////////////////////////////*/
.totl {

  width: 100%;
  position: relative;
  margin-top: 30px;
  margin-bottom: 5px;

}

.totl .lay .client {
  padding-top: 35px;
}

.totl .lay .client .countist {
  width: 50% !important;
}

.totl .lay .client .it {
  height: 120px;
  /* width: 70%; */
  margin: 0 auto;
  background: transparent;
  border: 1px solid rgba(247, 0, 104, .1);
  transition: .3s ease-in-out;

}

.totl .lay .client .it:hover {
  border: 1px solid rgba(247, 0, 104, .4);
  transform: scale(1.05);
  letter-spacing: .2px;
}

.totl .lay .client .it p {
  font-family: 'poppin', sans-serif;
  font-size: 15px;
  margin-top: 5px;
  font-weight: 800;
  color: #f1f1f1;
  text-align: center;
  letter-spacing: .5px;

}

.totl .lay .client .it h3 {
  font-family: 'poppin', sans-serif;
  font-size: 40px;
  color: rgba(247, 0, 104);
  margin-top: 10px;
  font-weight: 800;

  text-align: center;

}

.totl .lay .client .it .num {
  padding-top: 20px;
}

/*///////////////////////////////////
        counter-part end
  ////////////////////////////////////*/
/*///////////////////////////////////
          footer-part start
  ////////////////////////////////////*/

/*    go to top button  start */

.btop {
  display: none;
  position: fixed;
  background: rgba(247, 0, 104);
  padding: 2px 9px;
  bottom: 50px;
  right: 30px;
  color: #dddddd;
  font-size: 27px;
  border-radius: 5px;
  animation: seju 2s infinite linear;
  transition: .4s;
  z-index: 9999;
}

.btop:hover {
  background: rgba(255, 255, 255, .8);
  color: #000;
}

@keyframes seju {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }

  100% {
    transform: translateY(0);
  }
}

#footer-part {
  background-color: #000;
  padding-top: 100px;
}

#footer-part .tt2 {
  margin-bottom: 23px;
}

/* #footer-part .footer video{
    width: 100%;
    height: 335px;
  } */

#footer-part .left h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: rgba(255, 255, 255, .8);
  letter-spacing: .5px;
  font-weight: 600 !important;
  line-height: 42px;
  margin-bottom: 30px;


}

#footer-part .left a {
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: rgba(255, 255, 255, .8);
}

#footer-part .left a i {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.contact_section h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  color: rgba(255, 255, 255, .8);
  letter-spacing: .5px;
  font-weight: 600 !important;
  text-align: right;
  margin-bottom: 30px;

}

.contact_section form {
  width: 93%;
  margin-left: auto;
  text-align: center;
}

.contact_section form input,
.contact_section form input,
.contact_section form textarea {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  outline: 0;
  border: 0;
  padding: 15px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  background-color: #000;
  letter-spacing: .5px;
  font-size: 14px;
  color: rgba(255, 255, 255, .8);
  resize: none;
}

.contact_section form textarea {
  margin-top: 26px;
  height: 130px;
  resize: none;
}

.contact_section form input::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, .5);
}

.contact_section form textarea::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, .5);
}

.contact_section form input:focus,
.contact_section form input:focus,
.contact_section form textarea:focus {
  background: rgba(0, 0, 0, .2);
  border-bottom: 1px solid rgba(247, 0, 104, .5);
}

.contact_section form .tuna .tuni {
  position: relative;
  transition: linear .3s;

}

.contact_section form .tuna {
  margin-top: 43px;
  margin-left: 20px;
  font-size: 15px;
  padding: 4px 20px;
  /* position: absolute; */
  /* left: 50%; */
  outline: 0;
  border: 0;
  text-transform: uppercase;
  position: relative;
  /* transform: translateX(-50%); */
  line-height: 30px;
  color: rgba(255, 255, 255, .8);
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, .8);
  transition: linear .3s;
  display: inline-block;
  overflow: hidden;
  font-family: 'poppin', sans-serif;
  font-weight: 700;
}

.contact_section form .tuna::before {

  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: rgba(247, 0, 104);
  border-radius: 10px;
  box-sizing: border-box;
  transform: scale(0, 1);

  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.860, 0.000, 0.070, 1.000);
  transition-timing-function: cubic-bezier(0.860, 0.000, 0.070, 1.000);

}

.contact_section form .tuna:hover {
  color: #fff;
  transform: scale(1.1);
  border: 1px solid rgba(247, 0, 104, .8);
}

.contact_section form .tuna:hover::before {

  transform: scale(1, 1);
  transform-origin: bottom left;
}

#footer-part .footer .copyright {
  display: block;
  width: 100%;
  margin-top: 60px;
  border-top: 1px solid rgba(255, 255, 255, .2);
}

#footer-part .footer .copyright p {
  padding: 13px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: regular;
  letter-spacing: .5px;
  font-size: 14px;
  color: rgba(255, 255, 255, .8);

}

#footer-part .footer .copyright p span {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: .5px;
  font-size: 16px;
  background: linear-gradient(180deg, rgba(247, 0, 104)10%, #4aaeff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer-part .footer .copyright .devided {
  padding-left: 0;
  padding-right: 0;
}

#footer-part .footer .copyright .faruk {
  text-align: right;
}

#footer-part .footer .copyright .faruk .border-lft {
  border-left: 1px solid rgba(255, 255, 255, .2);
}

#footer-part .footer .copyright .faruk a {
  display: inline-block;

}

#footer-part .footer .copyright .faruk a i {
  display: block;
  font-size: 20px;
  color: #e4d2b9;
  height: 48px;
  width: 55px;
  text-align: center;
  line-height: 48px;
  border-right: 1px solid rgba(255, 255, 255, .2);
  transition: .4s;
}

#footer-part .footer .copyright .faruk a i:hover {
  background: #e4d2b9;
  color: #000;
}

/*///////////////////////////////////
          footer-part end
  ////////////////////////////////////*/

